* {
  box-sizing: border-box;
}



body[data-theme='dark'] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-ui-base: hsl(209, 23%, 22%);
  --button-color: rgb(250, 220, 86);
  --h1-color: linear-gradient(hsl(208, 100%, 50%), hsl(208, 51%, 55%), hsl(0, 0%, 100%), hsl(0, 0%, 73%));

  --shadow: rgba(165, 173, 180, 0.2) 0px 8px 24px;
  --app-bg: hsl(41, 92%, 91%);
}
body[data-theme='light'] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(41, 92%, 91%);
  --colors-ui-base: hsl(0, 0%, 100%);
  --button-color: rgba(86, 116, 250, 0.842);
  --h1-color: linear-gradient(hsl(208, 100%, 50%), hsl(208, 51%, 55%), hsl(0, 0%, 100%) , hsl(0, 0%, 73%));

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --app-bg: hsl(207, 26%, 17%);
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 18px;
  /* font-family: 'tahoma', 'sans-serif'; */
  font-family: 'verdana', 'sans-serif';
  color: var(--colors-text);
  /* font-weight: var(--fw-light); */
  background-color: var(--colors-bg);
}

h2 {
  color: rgb(255, 145, 0);
}

h4 {
  color: rgb(219, 44, 0);
}